p{
	font-size : 16pt;
}


p{ color : black;
}

h1 { color : green;

}
h2 { color : blue;
}
h3 {color : red;
}
body  {
    background-image: url("https://img.freepik.com/free-photo/beautiful-spa-composition-massage-table-wellness-center-copyspace_155003-14873.jpg?w=2000");
}